<div class="container-fluid">
  <div class="row row-deck pt-5">
    <% apps.forEach(function (app) {%>
    <div class="col-md-3 mb-5">
      <div class="card">
        <div class="card-status-top bg-indigo"></div>
        <a
          href="/apps/<%= app.name %>"
          style="text-decoration: none; color: inherit"
        >
          <div class="card-body">
            <div class="card-title text-primary">
              <strong>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-box"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <polyline
                    points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"
                  ></polyline>
                  <line x1="12" y1="12" x2="20" y2="7.5"></line>
                  <line x1="12" y1="12" x2="12" y2="21"></line>
                  <line x1="12" y1="12" x2="4" y2="7.5"></line>
                </svg>
                <%= app.name %>
              </strong>
              <% if(app.status === "online"){ %>
              <span class="badge bg-green-lt"><%= app.status %></span>
              <% } else{ %>
              <span class="badge bg-red-lt"><%= app.status %></span>
              <% } %>
            </div>
            <h4 class="text-secondary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-server"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="3" y="4" width="18" height="8" rx="3"></rect>
                <rect x="3" y="12" width="18" height="8" rx="3"></rect>
                <line x1="7" y1="8" x2="7" y2="8.01"></line>
                <line x1="7" y1="16" x2="7" y2="16.01"></line>
              </svg>
              CPU : <%= app.cpu %> %
            </h4>
            <h4 class="text-secondary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-device-desktop-analytics"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="3" y="4" width="18" height="12" rx="1"></rect>
                <path d="M7 20h10"></path>
                <path d="M9 16v4"></path>
                <path d="M15 16v4"></path>
                <path d="M9 12v-4"></path>
                <path d="M12 12v-1"></path>
                <path d="M15 12v-2"></path>
                <path d="M12 12v-1"></path>
              </svg>
              Memory : <%= app.memory %>
            </h4>
            <h4 class="text-secondary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-calendar-time"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"
                ></path>
                <circle cx="18" cy="18" r="4"></circle>
                <path d="M15 3v4"></path>
                <path d="M7 3v4"></path>
                <path d="M3 11h16"></path>
                <path d="M18 16.496v1.504l1 1"></path>
              </svg>
              Uptime : <%= app.uptime %>
            </h4>
          </div>
        </a>
      </div>
    </div>
    <% })%>
  </div>
  <script>
    document.getElementById("user-title").innerText = "User";
  </script>
</div>
